name: Build and deploy Python project to Azure Function App - rag-demo-mb

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PYTHON_VERSION: '3.11'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Create deployment package
        run: |
          zip -r release.zip function_app.py host.json requirements.txt azure_functions ingest rag config

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_83A02592801E4A7EB663A873DCC2E752 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_8F10E164C53E4DBDB1C21FD5AF8A2E4E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_B47593E3D7194F689CBE9A4B9D770998 }}

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: 'rag-demo-mb'
          slot-name: 'Production'
          package: release.zip
          scm-do-build-during-deployment: true
          enable-oryx-build: true
